

*{
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
.App{
  background-color:  #cb202e22;
  padding: 1rem 4rem 3rem 4rem;
  font-family: 'Play', sans-serif;
}
@media (max-width: 550px){
  .App{
    padding: 1rem 2rem 3rem 2rem;
  }
}